root=true

[*]
charset=utf-8
end_of_line=lf
indent_size=unset
indent_style=space
insert_final_newline=true
max_line_length=120
trim_trailing_whitespace=true

[*.nix]
indent_size=2

[*.{?ts?,?js?,json}]
indent_size=4

[*.{diff,patch}]
end_of_line=unset
insert_final_newline=unset
trim_trailing_whitespace=unset
max_line_length=unset

[{LICENSES/**,LICENSE,*.lock,package-lock.json}]
charset=unset
end_of_line=unset
indent_size=unset
indent_style=unset
insert_final_newline=unset
trim_trailing_whitespace=unset
max_line_length=unset
